.section-label {
    -fx-background-color: lightgray;
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-border-color: darkgray;
    -fx-color: darkgray;
    -fx-font-weight: bold;
}

.section {
    -fx-padding: 5;
}

.button-group .check-box, .button-group .radio-button {
    -fx-padding: 3;
}
